<!DOCTYPE html>
<html lang="en">
<!-- header part-->
<%- include('layouts/head'); -%>
<body>

<!-- Navigation Bar -->
<%- include('layouts/header'); -%>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Assignments</h1>
        <p class="lead">
          Unlock Your Potential: Navigate the Path to Success with Assignments
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3">
            <img
              class="card-img-top"
              src="images/e-1.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Trends in Web Technologies</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque fringilla vitae lacus non faucibus. In enim quam,
                pharetra ut dignissim vel, porta a risus. Aliquam nec massa non
                quam tincidunt placerat. Suspendisse vitae massa et lacus varius
                imperdiet quis vel mauris.
              </p>
              <a href="/quiz" class="btn btn-primary">Take Quiz</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3">
            <img
              class="card-img-top"
              src="images/e-2.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Career Management</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque fringilla vitae lacus non faucibus. In enim quam,
                pharetra ut dignissim vel, porta a risus. Aliquam nec massa non
                quam tincidunt placerat. Suspendisse vitae massa et lacus varius
                imperdiet quis vel mauris.
              </p>
              <a href="/quiz" class="btn btn-primary">Take Quiz</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3">
            <img
              class="card-img-top"
              src="images/e-3.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Leadership</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque fringilla vitae lacus non faucibus. In enim quam,
                pharetra ut dignissim vel, porta a risus. Aliquam nec massa non
                quam tincidunt placerat. Suspendisse vitae massa et lacus varius
                imperdiet quis vel mauris.
              </p>
              <a href="/quiz" class="btn btn-primary">Take Quiz</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3">
            <img
              class="card-img-top"
              src="images/e-3.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Modern Technology</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque fringilla vitae lacus non faucibus. In enim quam,
                pharetra ut dignissim vel, porta a risus. Aliquam nec massa non
                quam tincidunt placerat. Suspendisse vitae massa et lacus varius
                imperdiet quis vel mauris.
              </p>
              <a href="/quiz" class="btn btn-primary">Take Quiz</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3">
            <img
              class="card-img-top"
              src="images/e-2.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Mathematics</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque fringilla vitae lacus non faucibus. In enim quam,
                pharetra ut dignissim vel, porta a risus. Aliquam nec massa non
                quam tincidunt placerat. Suspendisse vitae massa et lacus varius
                imperdiet quis vel mauris.
              </p>
              <a href="/quiz" class="btn btn-primary">Take Quiz</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-3">
            <img
              class="card-img-top"
              src="images/e-1.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Javascript</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque fringilla vitae lacus non faucibus. In enim quam,
                pharetra ut dignissim vel, porta a risus. Aliquam nec massa non
                quam tincidunt placerat. Suspendisse vitae massa et lacus varius
                imperdiet quis vel mauris.
              </p>
              <a href="/quiz" class="btn btn-primary">Take Quiz</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>
    
    <!-- Bootstrap JS and dependencies -->
    <%- include('layouts/scripts'); -%>
    
    </body>
    </html>
