<!DOCTYPE html>
<html lang="en">
<!-- header part-->
<%- include('layouts/head'); -%>
<body>

<!-- Navigation Bar -->
<%- include('layouts/header'); -%>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">QUIZ</h1>
      <p class="lead">Quiz Quest: Test Your Wits, Unleash Your Potential!</p>
    </div>
  </div>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-5">2 April 2024</h1>
      <div class="row">
        <div class="col-md-8">
          <h5>Conestoga College</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque fringilla vitae lacus non faucibus. In enim quam,
            pharetra ut dignissim vel, porta a risus. Aliquam nec massa non quam
            tincidunt placerat. Suspendisse vitae massa et lacus varius
            imperdiet quis vel mauris. Maecenas egestas massa non dui commodo,
            vitae dictum nisi tempor. Fusce molestie faucibus mauris, et
            lobortis justo faucibus eu. Cras molestie vitae quam at scelerisque.
            Etiam mi sapien, tempus vel ipsum at, porta feugiat justo. Sed ac
            lacus metus. Vivamus fermentum feugiat pulvinar. Duis vestibulum
            lacus vel urna fermentum, ac maximus nisl sollicitudin. Vivamus a
            dui malesuada, lacinia libero vitae, pulvinar sem. Donec varius quis
            diam at venenatis.
          </p>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Start Time</h5>
              <p class="card-text">12:00 Am</p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Finish Time</h5>
              <p class="card-text">05:00 Am</p>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block">
            Start Quiz
          </button>
          <a
            href="assignments.html"
            class="btn btn-secondary btn-block"
            style="margin-bottom: 1cm"
            >Back</a
          >
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>
    
    <!-- Bootstrap JS and dependencies -->
    <%- include('layouts/scripts'); -%>
    
    </body>
    </html>
